body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #1D1D1D;
    color: white;
}

nav h1 {
    font-size: 20px;
    align-self: center;
}

.navbar-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul li {
    margin-left: 10px;
}

.divOptionsNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.newDotDiv {
    display: flex;
    flex-direction: column;
}

.newDotDiv p {
    font-size: 13.5px;
    font-weight: bold;
    margin: 0;
}

.newDotDiv input {
    width: 52px;
    height: 24px;
    outline: none;
    font-size: 13.5px;
    margin-top: 10px;
}

#chart {
    width: 75%;
    height: 600px;
}

#options {
    /*height: 86px;*/
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C8C8C8;
}

.divOptions {
    border-right: 1px solid #C8C8C8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.symbology {
    display: flex;
    flex-direction: column;
}

.symbology p:nth-child(1) {
    font-size: 13.5px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
}

.symbology p{
    font-size: 12.5px;
    margin: 0;
    margin-bottom: 2px;
}

.icon {
    width: 10px;
    height: 10px;
    margin-right: 6px;
}

.symbologyContainImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
}

.information p:nth-child(1) {
    font-size: 13.5px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
}

.info p:nth-child(1){
    margin: 0;
    font-size: 12.5px;
    font-weight: normal;
    margin-bottom: 3px;
}


.info p{
    margin: 0;
    font-size: 12.5px;
    font-weight: normal;
    margin-bottom: 3px;
}

.btn {
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 13.5px;
}

.start {
    background-color: #86D682;
}

.delete {
    background-color: #FF6464;
}

.disabled {
    background-color: #B6B6B6;
}

#config {
    border: 1px solid #C8C8C8;
    position: absolute;
    right: 0;
    top: 176px;
    width: 23%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 8px;
}

.divInputsConfig {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.divInputsConfigIndividual {
    display: flex;
    flex-direction: column;
}

.divInputsConfig label {
    text-align: center;
    font-size: 14.5px;
    margin-bottom: 6px;
}

.inputConfig {
    width: 85%;
    height: 24px;
    outline: none;
    font-size: 13.5px;
    margin-bottom: 8px;
    align-self: center;
    border-radius: 8px;
    border: 1px solid #C8C8C8;
    padding: 4px;
}

#btnSetUp { 
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #d7dadd;
    margin-top: 12px;
    width: 88%;
    align-self: center;
    padding: 4px
}

@media (max-width: 1024px) {
    #config {
        width: 100%;
        position: static;
        border-bottom-left-radius: 0px;
        right: auto;
        padding: 0px;
    }

    #config h2 {
        margin-left: 12px;
    }

    #chart {
        width: 100%;
        height: 600px;
    }

    .divInputsConfig {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .divInputsConfigIndividual {
        display: flex;
        flex-direction: column;
    }

    #btnSetUp { 
        height: 30px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        background-color: #d7dadd;
        margin-top: 12px;
        width: 38%;
        padding: 4px;
        margin-bottom: 12px;
    }
}

@media (max-width: 530px) {
    #options {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #C8C8C8;
    }

    .divOptions {
        border-right: none;
        border-bottom: 1px solid #C8C8C8;
    }

    .information {
        text-align: center;
    }
}

@media (max-width: 700px) {
    nav {
        flex-direction: column;
    }
    nav h1 {
        align-self: flex-start;
    }
    .navbar-left ul {
        margin-left: 0px;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-left ul li {
        margin-left: 0px;
    }
    .divOptionsNav {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        margin-bottom: 16px;
    }
}